name: Build MVL Project for Windows

on:
  workflow_call:
  workflow_dispatch:

env:
  SCONS_CACHE_MSVC_CONFIG: true
  PYTHONIOENCODING: utf8

jobs:
  build-windows:
    runs-on: windows-latest
    name: ${{ matrix.name }}
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Windows-Mono
            cache-name: windows-mono
            bin: ./godot/bin/godot.windows.editor.x86_64.mono.console.exe
            compiler: msvc

    steps:
      - name: Checkout MVL Repository
        uses: actions/checkout@v4
        with:
          path: mvl-repo

      - name: 1.1. Setup Python for SCons
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: 1.2. Install SCons
        run: pip install scons scoop

      - name: 1.3. Install gettext
        shell: powershell
        run: |
          echo "Install gettext..."
          $ProgressPreference = 'SilentlyContinue'
          Invoke-WebRequest -Uri "https://github.com/vslavik/gettext-tools-windows/releases/download/v0.26/gettext-tools-windows-0.26.zip" -OutFile "gettext-tools-windows.zip"
          Expand-Archive -Path "gettext-tools-windows.zip" -DestinationPath "gettext-tools"
          $GETTEXT_PATH = (Get-Location).Path + "\gettext-tools\bin"
          echo $GETTEXT_PATH | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: 1.4. Install 7Z And NSIS
        run: |
          echo "Install 7Z And NSIS And CCache And Mingw..."
          choco install 7zip -y
          choco install nsis -y

          $PluginUrl = "https://nsis.sourceforge.io/mediawiki/images/9/93/Nsis7z.zip"
          $ZipFile = "Nsis7z.zip"
          Invoke-WebRequest -Uri $PluginUrl -OutFile $ZipFile
          Expand-Archive -Path $ZipFile -DestinationPath "$((Get-Location).Path)\Nsis7z"
          xcopy "$((Get-Location).Path)\Nsis7z\Plugins" "C:\Program Files (x86)\NSIS\Plugins" /E /I /Y

          echo "C:\Program Files (x86)\NSIS" >> $env:GITHUB_PATH
          echo "C:\ProgramData\chocolatey\lib\7zip" >> $env:GITHUB_PATH
          echo "C:\ProgramData\chocolatey\lib\nsis" >> $env:GITHUB_PATH

      - name: 2.1. Setup .NET8 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: 2.2. Setup .NET10 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: 3. Download and Setup Vintage Story Clients
        shell: powershell
        run: |
          echo "Setting up Vintage Story environments..."
          $ProgressPreference = 'SilentlyContinue'
          Invoke-WebRequest -Uri "https://cdn.vintagestory.at/gamefiles/stable/vs_client_linux-x64_1.21.5.tar.gz" -OutFile "vs_client_net8.tar.gz"
          New-Item -ItemType Directory -Force -Path NET8
          tar -xzf vs_client_net8.tar.gz -C NET8
          echo "VINTAGE_STORY=$((Get-Location).Path)\NET8\vintagestory" >> $env:GITHUB_ENV

          echo "Vintage Story paths set."

      - name: 4.1. Clone Godot
        run: git clone https://github.com/scgm0/godot.git --branch Fix-RenderingDevice-Opengl3

      - name: 4.2. Restore Godot build cache
        uses: ./mvl-repo/.github/actions/godot-cache-restore
        with:
          cache-name: ${{ matrix.cache-name }}
        continue-on-error: true

      - name: 4.3 Download Direct3D 12 SDK components
        run: python ./godot/misc/scripts/install_d3d12_sdk_windows.py

      - name: 4.4 Download pre-built ANGLE static libraries
        uses: dsaltares/fetch-gh-release-asset@1.1.2
        with:
          repo: godotengine/godot-angle-static
          version: tags/chromium/6601.2
          file: godot-angle-static-x86_64-${{ matrix.compiler == 'gcc' && 'gcc' || (matrix.compiler == 'llvm' && 'llvm' || 'msvc') }}-release.zip
          target: angle/angle.zip

      - name: 4.5 Extract pre-built ANGLE static libraries
        run: Expand-Archive -Force angle/angle.zip ${{ github.workspace }}/

      - name: 4.6 Compilation Editor
        uses: ./mvl-repo/.github/actions/godot-build
        with:
          scons-flags: >-
            vsc=yes
            module_mono_enabled=yes
            accesskit=no
            disable_xr=yes
            d3d12=yes
            "angle_libs=${{ github.workspace }}/"
          platform: windows
          target: editor

      - name: 4.7 Compilation Release Template
        uses: ./mvl-repo/.github/actions/godot-build
        with:
          scons-flags: >-
            vsc=yes
            d3d12=yes
            "angle_libs=${{ github.workspace }}/"
            lto=full
            profile=../mvl-repo/MVL/GodotBuildProfile/custom.py
            build_profile=../mvl-repo/MVL/GodotBuildProfile/custom.build
          platform: windows
          target: template_release

      - name: 4.8. Save Godot build cache
        uses: ./mvl-repo/.github/actions/godot-cache-save
        with:
          cache-name: ${{ matrix.cache-name }}
        continue-on-error: true

      - name: 4.9 Generate C# glue
        shell: powershell
        run: |
          & ${{ matrix.bin }} --headless --generate-mono-glue ./godot/modules/mono/glue
          python ./godot/modules/mono/build_scripts/build_assemblies.py --godot-output-dir=./godot/bin --push-nupkgs-local ./godot/bin/GodotSharp/Tools/nupkgs --godot-platform=windows
          dotnet nuget add source "$((Get-Location).Path)\godot\bin\GodotSharp\Tools\nupkgs"

      - name: 5.1. Build and Export MVL Project
        run: |
          echo "Building MVL solution..."
          dotnet build mvl-repo/MVL

          echo "Importing assets with Godot..."
          ${{ matrix.bin }} --path mvl-repo/MVL --import --headless

          echo "Exporting project..."
          $ReleaseTemplatePath = "$((Get-Location).Path)\godot\bin\godot.windows.template_release.x86_64.mono.exe".Replace("\", "/")
          $ConfigFile = "mvl-repo/MVL/export_presets.cfg"

          (Get-Content -Path $ConfigFile -Raw) -replace 'custom_template/release=.*', "custom_template/release=`"$ReleaseTemplatePath`"" | Set-Content -Path $ConfigFile

          echo "--- Verifying export_presets.cfg ---"
          Get-Content $ConfigFile
          echo "------------------------------------"

          New-Item -ItemType Directory -Force -Path "export_build"
          New-Item -ItemType Directory -Force -Path "export_build/windows"

          ${{ matrix.bin }} --path mvl-repo/MVL --headless --export-release "Windows Desktop" "$((Get-Location).Path)\export_build\windows\MVL.exe"

          echo "Export finished."

      - name: 5.2. Package as Portable
        run: |
          echo "Package as Portable..."
          mkdir -p AppDir

          xcopy /E /I /Y "export_build\windows" "AppDir"
          7z a "$((Get-Location).Path)\app.7z" ./AppDir/* -m0=lzma2

          $NsisTemplate = @'
          !include "FileFunc.nsh"

          OutFile "MVL-x86_64.exe"
          Icon ".\mvl-repo\MVL\Assets\Icon\icon.ico"

          SilentInstall silent
          SetCompress off
          RequestExecutionLevel user

          !addplugindir "C:\Program Files (x86)\NSIS\Plugins\x86-unicode"

          Function .onInit
            System::Call 'Kernel32::AttachConsole(i -1)'
          FunctionEnd

          Section
            InitPluginsDir
            ${GetParameters} $R0

            SetOutPath $PLUGINSDIR
            File /oname=app.7z "##APP7Z##"

            Nsis7z::extract "app.7z"
            Delete "app.7z"

            ExecWait "$PLUGINSDIR\MVL.exe $R0"

            SetOutPath "$TEMP"

            CheckLock:
              ClearErrors
              FileOpen $0 "$PLUGINSDIR\MVL.exe" w
              IfErrors MVLIsRunning MVLIsClosed

            MVLIsRunning:
              Sleep 1000
              Goto CheckLock

            MVLIsClosed:
              FileClose $0
              RMDir /r "$PLUGINSDIR"
              SetErrorLevel 0
          SectionEnd
          '@

          $NsisScript = $NsisTemplate -replace '##APP7Z##', "$((Get-Location).Path)\app.7z"
          $NsisScript | Out-File -FilePath "generated-script.nsi" -Encoding utf8

          echo "Generating Portable..."
          makensis generated-script.nsi

      - name: 6.1. Upload Portable Artifact
        uses: actions/upload-artifact@v4
        with:
          name: mvl-windows-portable
          path: MVL-x86_64.exe

      - name: 6.2. Upload Raw Artifact
        uses: actions/upload-artifact@v4
        with:
          name: mvl-windows-raw
          path: export_build/windows/*
